Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: design-system-validation, design-system-tokens-check, website-validation, website-tokens-check, changeset-check

.pre-commit-config.yaml:

# Configuration pre-commit pour le Design System
# Installation: pip install pre-commit && pre-commit install

repos:
  # Hooks généraux
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 🧹 Remove trailing whitespace
      - id: end-of-file-fixer
        name: 📝 Fix end of files
      - id: check-merge-conflict
        name: 🔍 Check for merge conflicts
      - id: check-added-large-files
        name: 📦 Check file sizes
        args: ['--maxkb=1000']
      - id: check-yaml
        name: ✅ Validate YAML
        files: \.(yaml|yml)$
      - id: check-json
        name: ✅ Validate JSON
        files: \.json$

  # Design System - Validation des tokens et qualité
  - repo: local
    hooks:
      - id: design-system-validation
        name: 🎨 Design System - Validation complète
        entry: npm run pre-commit:validate-design-system
        language: system
        files: ^packages/utopia/
        pass_filenames: false

      - id: design-system-tokens-check
        name: 🔍 Design System - Vérification tokens (pas de valeurs en dur)
        entry: bash -c 'cd packages/utopia && npm run validate:tokens'
        language: system
        files: ^packages/utopia/src/components/
        pass_filenames: false

  # Website - Validation des tokens et qualité
  - repo: local
    hooks:
      - id: website-validation
        name: 🌐 Website - Validation complète
        entry: npm run pre-commit:validate-website
        language: system
        files: ^apps/utopia-website/
        pass_filenames: false

      - id: website-tokens-check
        name: 🔍 Website - Vérification tokens design system
        entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
        language: system
        files: ^apps/utopia-website/src/
        pass_filenames: false

  # Changeset validation
  - repo: local
    hooks:
      - id: changeset-check
        name: 📝 Vérification Changeset
        entry: npm run pre-commit:changeset-check
        language: system
        files: ^packages/utopia/
        pass_filenames: false

# Configuration globale
default_stages: [pre-commit]
fail_fast: false

fix: Remove duplicate ESLint property
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  .gitignore
  .husky/pre-commit
  .pre-commit-config.yaml
  PRE_COMMIT_SETUP.md
  apps/utopia-website/.eslintrc-utopia.js
  apps/utopia-website/eslint.config.ts
  apps/utopia-website/package-lock.json
  apps/utopia-website/package.json
  apps/utopia-website/src/components/TheWelcome.vue
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
  apps/utopia-website/src/domains/design-system/pages/PresentationPage.vue
  apps/utopia-website/src/domains/design-system/pages/SpacingPage.vue
  apps/utopia-website/src/domains/design-system/pages/SurfacesPage.vue
  apps/utopia-website/src/domains/design-system/pages/TypographyPage.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/domains/shared/router/NotFoundPage.vue
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/domains/showcase/pages/ShowcasePage.vue
  apps/utopia-website/src/stores/counter.ts
  apps/utopia-website/validate-design-system.cjs
  node_modules/.package-lock.json
  package-lock.json
  package.json
  scripts/setup-pre-commit.sh
Due: website-validation, website-tokens-check

chore: update Utopia package dependency and rename validation script
  apps/.DS_Store
  apps/utopia-website/design-system-validator.cjs
  apps/utopia-website/package-lock.json
  apps/utopia-website/package.json
  apps/utopia-website/validate-design-system.cjs
Due: website-validation

🔧 Fix GitHub Actions workflows
  .github/workflows/design-system.yml
  .github/workflows/website.yml
Due: none

🔧 Fix design-system workflow token validation
  .github/workflows/design-system.yml
Due: none

🤖 Add automatic PR creation workflow
  .github/workflows/auto-pr.yml
Due: none

🔧 Fix Website CI workflow dependencies order
  .github/workflows/website.yml
Due: none

feat: update CI
  .github/actions/README.md
  .github/actions/build-design-system/action.yml
  .github/actions/build-website/action.yml
  .github/actions/deploy-vercel/action.yml
  .github/actions/quality-checks/action.yml
  .github/actions/setup-node-cache/action.yml
  .github/workflows/auto-pr.yml
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  .gitignore
  TURBOREPO.md
  apps/storybook/package.json
  apps/utopia-website/package.json
  package-lock.json
  package.json
  packages/utopia/src/tokens/generated/club-employes/dark.css
  packages/utopia/src/tokens/generated/club-employes/dark.js
  packages/utopia/src/tokens/generated/club-employes/light.css
  packages/utopia/src/tokens/generated/club-employes/light.js
  packages/utopia/src/tokens/generated/club-employes/tokens.css
  packages/utopia/src/tokens/generated/club-employes/tokens.js
  packages/utopia/src/tokens/generated/gifteo/dark.css
  packages/utopia/src/tokens/generated/gifteo/dark.js
  packages/utopia/src/tokens/generated/gifteo/light.css
  packages/utopia/src/tokens/generated/gifteo/light.js
  turbo.json
Due: design-system-validation, website-validation, changeset-check

chore: update CI workflows to use npx for turbo commands
  .github/actions/build-design-system/action.yml
  .github/actions/build-website/action.yml
  .github/actions/quality-checks/action.yml
Due: none

docs: update TURBOREPO.md with performance optimization note
  TURBOREPO.md
Due: none

chore: enhance CI workflows and update package description
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  package.json
Due: none

chore: update Vercel configuration and remove obsolete build script
  apps/utopia-website/scripts/build-for-vercel.sh
  apps/utopia-website/vercel.json
Due: website-validation

chore: remove package-lock.json and update Vercel configuration
  apps/utopia-website/package-lock.json
  apps/utopia-website/vercel.json
Due: website-validation

chore: optimize pre-commit checks using Turborepo
  .husky/pre-commit
Due: none

chore: update Vercel configuration for build and install commands
  apps/utopia-website/vercel.json
Due: website-validation

docs: update TURBOREPO.md to improve workflow section
  TURBOREPO.md
Due: none

feat: add deployment note to HomePage description
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
Due: website-validation, website-tokens-check

feat: enhance Vercel deployment configuration and update HomeView
  .github/actions/deploy-vercel/action.yml
  apps/utopia-website/src/views/HomeView.vue
  apps/utopia-website/vercel.json
  vercel.json
Due: website-validation, website-tokens-check

chore: refine CI workflows by specifying action paths
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  apps/utopia-website/src/views/HomeView.vue
Due: website-validation, website-tokens-check

chore: update GitHub Actions workflow and modify HomeView title
  .github/workflows/auto-pr.yml
  apps/utopia-website/src/views/HomeView.vue
Due: website-validation, website-tokens-check

chore: remove auto PR workflow and update CI configurations
  .github/actions/create-pr/action.yml
  .github/workflows/auto-pr.yml
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  apps/utopia-website/src/views/HomeView.vue
Due: website-validation, website-tokens-check

chore: update PR creation action and modify HomeView title
  .github/actions/create-pr/action.yml
  apps/utopia-website/src/views/HomeView.vue
Due: website-validation, website-tokens-check

chore: update Vercel build command and enhance PR creation workflow
  .github/workflows/design-system.yml
  .github/workflows/website.yml
  apps/utopia-website/src/views/HomeView.vue
  vercel.json
Due: website-validation, website-tokens-check

refactor: update color variables in ColorsPage.vue for consistency
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
Due: website-validation, website-tokens-check

test: trigger GitHub Actions on feat/conf-cicd branch
  apps/utopia-website/README.md
Due: website-validation

fix: allow workflows to run on main branch for release and production deployment
  .github/workflows/design-system.yml
  .github/workflows/website.yml
Due: none

feat: enhance theme management and update demo link
  README.md
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/domains/shared/composables/useTheme.ts
  apps/utopia-website/src/domains/shared/index.ts
  apps/utopia-website/src/main.ts
  apps/utopia-website/vite.config.ts
  packages/utopia/src/theme-provider/ThemeProvider.vue
  packages/utopia/src/themes/club-employes/index.ts
  packages/utopia/src/themes/gifteo/index.ts
Due: design-system-validation, website-validation, website-tokens-check, changeset-check

feat: enhance useTheme composable with TypeScript improvements
  apps/utopia-website/src/domains/shared/composables/useTheme.ts
Due: website-validation, website-tokens-check

refactor: migrate useTheme composable to utopia package
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/src/composables/useTheme.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: design-system-validation, website-validation, website-tokens-check, changeset-check

refactor: consolidate useTheme exports from utopia package
  apps/utopia-website/src/domains/shared/index.ts
Due: website-validation, website-tokens-check

feat: enhance LogosPage with dynamic logo components and usage examples
  apps/utopia-website/src/domains/design-system/pages/LogosPage.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/src/components/atoms/Logo/Logo.vue
  packages/utopia/src/components/atoms/Logo/README.md
  packages/utopia/src/components/atoms/Logo/index.ts
  packages/utopia/src/components/atoms/Logo/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/composables/index.ts
  packages/utopia/src/composables/useFavicon.ts
  packages/utopia/src/composables/useTheme.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
  packages/utopia/src/tokens/core/assets.json
  packages/utopia/src/tokens/themes/club-employes-dark.json
  packages/utopia/src/tokens/themes/club-employes-light.json
  packages/utopia/src/tokens/themes/gifteo-dark.json
  packages/utopia/src/tokens/themes/gifteo-light.json
  packages/utopia/style-dictionary.config.js
Due: design-system-validation, design-system-tokens-check, website-validation, website-tokens-check, changeset-check

refactor: reorder imports in useTheme composable for consistency
  packages/utopia/src/composables/useTheme.ts
Due: design-system-validation, changeset-check

feat: enhance useTheme composable with localStorage support
  packages/utopia/src/composables/useTheme.ts
Due: design-system-validation, changeset-check

chore: version packages to 2.11.1
  .changeset/auto-feat-auto-deploy-1753974578.md
  .changeset/auto-feat-auto-deploy-1753974719.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: design-system-validation, changeset-check

feat: add auto changeset creation to design system workflow
  .github/actions/auto-changeset/action.yml
  .github/workflows/design-system.yml
  packages/utopia/package.json
  packages/utopia/src/components/atoms/Logo/Logo.vue
Due: design-system-validation, design-system-tokens-check, changeset-check

feat: add automatic changeset creation for design system changes
  .github/actions/auto-changeset/action.yml
Due: none

refactor: update layout styles and import order across components
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
  apps/utopia-website/src/domains/design-system/pages/PresentationPage.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/domains/shared/router/NotFoundPage.vue
  apps/utopia-website/src/domains/showcase/pages/ShowcasePage.vue
  apps/utopia-website/src/views/AboutView.vue
  packages/utopia/scripts/process-icons.js
  packages/utopia/src/theme-provider/ThemeProvider.vue
  packages/utopia/src/tokens/core/icons.json
Due: design-system-validation, website-validation, website-tokens-check, changeset-check

refactor: restructure AppLayout component for improved organization and functionality
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/src/components/index.ts
  packages/utopia/src/components/layouts/Header.vue
  packages/utopia/src/components/layouts/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: design-system-validation, design-system-tokens-check, website-validation, website-tokens-check, changeset-check

fix: allow changeset files in git and add changeset for Header component
  .changeset/slimy-lights-tan.md
  .gitignore
Due: none
