Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

lint-website:
  name: üîç Lint Website
  entry: bash -c 'cd apps/utopia-website && npm run lint:check'
  language: system
  pass_filenames: false

format-website:
  name: ‚ú® Format Website
  entry: bash -c 'cd apps/utopia-website && npm run format'
  language: system
  pass_filenames: false

type-check-website:
  name: üîç Type Check Website
  entry: bash -c 'cd apps/utopia-website && npm run type-check'
  language: system
  pass_filenames: false

validate-design-system:
  name: üé® Validate Design System Tokens
  entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
  language: system
  pass_filenames: false

lint-utopia:
  name: üîç Lint Utopia Package
  entry: bash -c 'cd packages/utopia && npm run lint'
  language: system
  pass_filenames: false

refactor: enhance type definitions and improve icon loading logic
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  packages/utopia/src/assets/icons-list.json
Due: lint-website, format-website, type-check-website, validate-design-system

chore: ignore generated icons-list.json files
  .gitignore
  apps/utopia-website/public/icons-list.json
  packages/utopia/src/assets/icons-list.json
Due: validate-design-system

fix: ensure icons-list.json is copied during build for Vercel deployment
  apps/utopia-website/package.json
Due: validate-design-system

refactor: integrate icons-list.json generation into design system build process
  apps/utopia-website/package.json
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  packages/utopia/package.json
Due: lint-website, format-website, type-check-website, validate-design-system

fix: restore icons-list.json copy script for Vercel deployment
  apps/utopia-website/package.json
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
Due: lint-website, format-website, type-check-website, validate-design-system

docs: add comment to NavItem component
  packages/utopia/src/components/layouts/NavItem.vue
Due: lint-utopia

chore: update project configuration and dependencies
  .gitignore
  apps/utopia-website/src/main.ts
  apps/utopia-website/vite.config.ts
  package-lock.json
  package.json
  packages/utopia/package.json
  packages/utopia/src/style.css
  packages/utopia/vite.config.dev.js
  packages/utopia/vite.config.ts
  turbo.json
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: clean up exports in index.ts for better organization
  packages/utopia/src/index.ts
Due: lint-utopia

refactor: improve exports in index.ts and clean up package.json
  packages/utopia/package.json
  packages/utopia/src/index.ts
Due: lint-utopia

fix: update import path for default theme CSS to align with new structure
  apps/utopia-website/src/main.ts
Due: lint-website, format-website, type-check-website, validate-design-system

fix: update import path for theme CSS and add generated token paths in package.json
  apps/utopia-website/src/main.ts
  packages/utopia/package.json
Due: lint-website, format-website, type-check-website, validate-design-system

fix: update import path for default theme CSS to match new directory structure
  apps/utopia-website/src/main.ts
Due: lint-website, format-website, type-check-website, validate-design-system

fix: increase stroke width of icon in NavItem component for better visibility
  packages/utopia/src/components/layouts/NavItem.vue
Due: lint-utopia

chore: update package configurations and dependencies for improved development workflow
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  apps/utopia-website/src/main.ts
  apps/utopia-website/vite.config.ts
  package-lock.json
  package.json
  packages/utopia/src/components/layouts/NavItem.vue
  turbo.json
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: reorganize main.ts and update style.css for design system clarity
  apps/utopia-website/src/main.ts
  packages/utopia/src/style.css
Due: lint-website, format-website, type-check-website, validate-design-system

style: increase stroke width of icon in NavItem component for improved visibility
  packages/utopia/src/components/layouts/NavItem.vue
  packages/utopia/src/style.css
Due: lint-utopia

feat: add aliases for light and dark theme tokens in Vite configuration
  apps/utopia-website/src/main.ts
  apps/utopia-website/vite.config.ts
Due: lint-website, format-website, type-check-website, validate-design-system

chore: update build dependencies in turbo.json and adjust icon stroke width in NavItem component
  packages/utopia/src/components/layouts/NavItem.vue
  turbo.json
Due: lint-utopia

feat: enhance AppLayout and Header components with mobile menu functionality
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/src/App.vue
  packages/utopia/src/assets/icons/Menu.svg
  packages/utopia/src/components/atoms/Icon/Icon.vue
  packages/utopia/src/components/demo/FloatingNav.vue
  packages/utopia/src/components/demo/MobileMenuDemo.vue
  packages/utopia/src/components/layouts/AppLayout.vue
  packages/utopia/src/components/layouts/Header.vue
  packages/utopia/src/components/layouts/Menu.vue
  packages/utopia/src/components/layouts/MobileMenu.vue
  packages/utopia/src/components/layouts/MobileMenuButton.vue
  packages/utopia/src/components/layouts/NavItem.vue
  packages/utopia/src/components/layouts/WebsiteAppLayout.vue
  packages/utopia/src/components/layouts/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: rename WebsiteAppLayout to DefaultLayout and restructure layout components
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/Header.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/Menu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MobileMenu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MobileMenuButton.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/NavItem.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/index.ts
  packages/utopia/src/components/layouts/DefaultLayout/index.ts
  packages/utopia/src/components/layouts/WebsiteAppLayout.vue
  packages/utopia/src/components/layouts/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: implement menu state persistence using theme composable
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/composables/useTheme.ts
Due: lint-utopia

chore: update timestamps in generated menu and routes files for consistency
  apps/utopia-website/src/generated/menu-structure.ts
  apps/utopia-website/src/generated/routes.ts
Due: lint-website, format-website, type-check-website, validate-design-system

refactor: update MobileMenuDemo to use DefaultLayout instead of AppLayout
  packages/utopia/src/components/demo/MobileMenuDemo.vue
Due: lint-utopia

chore: update generated menu structure and routes with new labels and components
  apps/utopia-website/src/generated/menu-structure.ts
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/layouts/DefaultLayout/components/Menu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MenuSection.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MobileMenu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/NavItem.vue
  packages/utopia/src/composables/index.ts
  packages/utopia/src/composables/useScrollShadows.example.vue
  packages/utopia/src/composables/useScrollShadows.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: simplify development scripts and remove watch-menu functionality
  apps/utopia-website/package.json
  apps/utopia-website/scripts/watch-menu.js
  apps/utopia-website/src/generated/menu-structure.ts
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/layouts/DefaultLayout/components/MenuSection.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: add create:page command and enhance component generation functionality
  apps/utopia-website/package.json
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/scripts/create-page.js
  apps/utopia-website/src/components/index.ts
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/components/layouts/PageLayout.vue
  apps/utopia-website/src/components/layouts/index.ts
  apps/utopia-website/src/composables/useGeneratedMenu.ts
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/domains/design-system/pages/ColorsTokenPage.vue
  apps/utopia-website/src/domains/design-system/pages/index.ts
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/generated/pages/atoms/TestPage.vue
  apps/utopia-website/src/generated/routes.ts
  apps/utopia-website/src/pages/HomePage.vue
  package.json
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  scripts/show-project-links.mjs
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: clean up component layouts and improve type definitions
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/components/layouts/PageLayout.vue
  apps/utopia-website/src/composables/useGeneratedMenu.ts
  apps/utopia-website/src/domains/design-system/pages/ColorsTokenPage.vue
  apps/utopia-website/src/generated/pages/atoms/TestPage.vue
  packages/utopia/src/components/pages/HomePage.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: streamline component generation and enhance layout structure
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/components/layouts/PageLayout.vue
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/ButtonPage.vue
Due: lint-website, format-website, type-check-website, validate-design-system

refactor: remove unused components and streamline documentation structure
  .gitignore
  apps/utopia-website/ARCHITECTURE.md
  apps/utopia-website/public/icons-list.json
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/src/components/HelloWorld.vue
  apps/utopia-website/src/components/TheWelcome.vue
  apps/utopia-website/src/components/WelcomeItem.vue
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/domains/design-system/pages/ColorsTokenPage.vue
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  apps/utopia-website/src/domains/design-system/pages/LogosPage.vue
  apps/utopia-website/src/domains/design-system/pages/SpacingPage.vue
  apps/utopia-website/src/domains/design-system/pages/TypographyPage.vue
  apps/utopia-website/src/domains/design-system/pages/index.ts
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/generated/pages/atoms/ButtonPage.vue
  apps/utopia-website/src/generated/pages/atoms/InputPage.vue
  apps/utopia-website/src/generated/pages/atoms/InputSelectPage.vue
  apps/utopia-website/src/generated/pages/layouts/DefaultLayoutPage.vue
  apps/utopia-website/src/generated/pages/molecules/SearchBoxPage.vue
  apps/utopia-website/src/generated/pages/organisms/DataTablePage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/assets/icons-list.json
  packages/utopia/src/composables/useScrollShadows.example.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: update .gitignore and modify tsconfig for improved type inclusivity.
  .gitignore
  apps/utopia-website/public/icons-list.json
  apps/utopia-website/src/generated/pages/layouts/DefaultLayoutPage.vue
  apps/utopia-website/tsconfig.app.json
  packages/utopia/src/assets/icons-list.json
Due: lint-website, format-website, type-check-website, validate-design-system

feat: add Checkbox component to design system and update routing
  apps/utopia-website/public/icons-list.json
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/CheckboxPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/assets/icons-list.json
  packages/utopia/src/components/atoms/Checkbox/Checkbox.vue
  packages/utopia/src/components/atoms/Checkbox/index.ts
  packages/utopia/src/components/atoms/Checkbox/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

fix: increase stroke width of Checkbox icon for better visibility
  packages/utopia/src/components/atoms/Checkbox/Checkbox.vue
Due: lint-utopia

refactor: remove obsolete atom components and update routing
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/generated/pages/atoms/BadgePage.vue
  apps/utopia-website/src/generated/pages/atoms/CardPage.vue
  apps/utopia-website/src/generated/pages/atoms/IconPage.vue
  apps/utopia-website/src/generated/pages/atoms/LogoPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: standardize import formatting in router index file
  apps/utopia-website/src/domains/shared/router/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system

style: enhance responsive design and mobile touch fixes across components
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  apps/utopia-website/src/domains/design-system/pages/LogosPage.vue
  apps/utopia-website/src/domains/design-system/pages/PresentationPage.vue
  apps/utopia-website/src/domains/design-system/pages/SpacingPage.vue
  apps/utopia-website/src/pages/HomePage.vue
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Checkbox/Checkbox.vue
  packages/utopia/src/components/atoms/Input/Input.vue
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/style.css
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

fix: add missing release script and create changeset for mobile improvements
  .changeset/kind-women-cheer.md
  packages/utopia/package.json
Due: none

fix: update viewport meta tag for improved mobile experience
  apps/storybook/index.html
  apps/utopia-website/index.html
Due: validate-design-system

Path conditions:
  lint-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  format-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  type-check-website: any of: ^apps/utopia-website/.*\.(ts|vue)$
  validate-design-system: any of: ^(apps/utopia-website/.*|packages/utopia/src/tokens/.*)$
  lint-utopia: any of: ^packages/utopia/.*\.(js|ts|vue)$
