Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

lint-website:
  name: üîç Lint Website
  entry: bash -c 'cd apps/utopia-website && npm run lint:check'
  language: system
  pass_filenames: false

format-website:
  name: ‚ú® Format Website
  entry: bash -c 'cd apps/utopia-website && npm run format'
  language: system
  pass_filenames: false

type-check-website:
  name: üîç Type Check Website
  entry: bash -c 'cd apps/utopia-website && npm run type-check'
  language: system
  pass_filenames: false

validate-design-system:
  name: üé® Validate Design System Tokens
  entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
  language: system
  pass_filenames: false

lint-utopia:
  name: üîç Lint Utopia Package
  entry: bash -c 'cd packages/utopia && npm run lint'
  language: system
  pass_filenames: false

✨ Add Skeleton component to design system
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/SkeletonPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/Skeleton/README.md
  packages/utopia/src/components/atoms/Skeleton/Skeleton.vue
  packages/utopia/src/components/atoms/Skeleton/SkeletonAvatar.vue
  packages/utopia/src/components/atoms/Skeleton/SkeletonText.vue
  packages/utopia/src/components/atoms/Skeleton/index.ts
  packages/utopia/src/components/atoms/Skeleton/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Enhance pre-commit hook and auto-changeset script
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  scripts/auto-changeset.js
Due: none

✨ Add TestComponent for changeset automation testing
  packages/utopia/src/components/atoms/TestComponent/TestComponent.vue
  packages/utopia/src/components/atoms/TestComponent/index.ts
Due: lint-utopia

🔧 Fix changeset automation and add test component
  .husky/pre-commit
  scripts/auto-changeset-simple.js
Due: none

✨ Update TestComponent to test changeset automation
  .changeset/auto-1756979094.md
  packages/utopia/src/components/atoms/TestComponent/TestComponent.vue
Due: lint-utopia

✨ Refactor changeset automation and remove obsolete components
  .changeset/auto-1756979564.md
  .husky/pre-commit
  packages/utopia/src/components/atoms/TestComponent/TestComponent.vue
  packages/utopia/src/components/atoms/TestComponent/index.ts
  scripts/auto-changeset-simple.js
  scripts/auto-changeset.js
Due: lint-utopia

🔧 Update Card component border-radius variable for consistency
  .changeset/auto-1756995382.md
  packages/utopia/COMPONENTS.md
  packages/utopia/src/components/atoms/Card/Card.vue
Due: lint-utopia

🚀 Major version update to 3.1.0 for @club-employes/utopia
  .changeset/auto-1756999700.md
  .changeset/major-version-3-1-0.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

🔧 Fix GitHub Actions release loop and NPM publication
  .github/workflows/design-system.yml
  scripts/cleanup-release-prs.sh
Due: none

♿ Add ariaLabel prop to Button component for better accessibility
  .changeset/auto-1757001672.md
  packages/utopia/src/components/atoms/Button/Button.vue
Due: lint-utopia

🔧 Fix release workflow and NPM publication
  .changeset/config.json
  .github/workflows/auto-merge-changeset.yml
  .github/workflows/design-system-release.yml
  .github/workflows/design-system.yml
Due: none

🗑️ Remove obsolete changeset files and workflows
  .changeset/auto-1756996214.md
  .changeset/auto-1756999700.md
  .changeset/auto-1757000050.md
  .changeset/major-version-3-1-0.md
  .github/workflows/auto-merge-changeset.yml
  .github/workflows/design-system-release.yml
  .github/workflows/design-system.yml
Due: none

🔧 Enhance release workflow with NPM configuration and GitHub release creation
  .github/workflows/design-system.yml
Due: none

🚀 Update release workflow to streamline NPM publishing and GitHub release creation
  .changeset/auto-1757063195.md
  .github/workflows/design-system.yml
  packages/utopia/README.md
Due: none

🗑️ Remove obsolete changeset files and update Skeleton component imports
  .changeset/auto-1757001672.md
  .changeset/auto-1757064778.md
  apps/utopia-website/src/generated/pages/atoms/SkeletonPage.vue
  packages/utopia/README.md
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🔧 Sync package version with npm (4.6.0)
  .changeset/auto-1757066042.md
  packages/utopia/package.json
Due: none

🔧 Update package version to 4.6.0 and enhance release workflow
  .changeset/auto-1757074091.md
  .github/workflows/design-system.yml
  package-lock.json
  packages/utopia/package-lock.json
Due: none

🚀 Release version 4.7.0
  .changeset/auto-1757066042.md
  .changeset/auto-1757074091.md
  .changeset/auto-1757075838.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

✨ Add ghost variant support to Chip component
  .changeset/auto-1757322110.md
  apps/utopia-website/src/generated/pages/atoms/ChipPage.vue
  packages/utopia/src/components/atoms/Chip/Chip.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: add changeset for Chip ghost variant feature
  .changeset/add-chip-ghost-variant.md
Due: none

chore: version packages to 4.8.0
  .changeset/add-chip-ghost-variant.md
  .changeset/auto-1757322110.md
  .changeset/auto-1757323495.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

docs: add manual release steps to README
  README.md
Due: none

✨ Add BalanceCard component to the design system
  .changeset/auto-1757337075.md
  .changeset/auto-1757337179.md
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  apps/utopia-website/src/generated/routes.ts
  package-lock.json
  packages/utopia/src/assets/images/3D_Alliance.webp
  packages/utopia/src/assets/images/3D_Cartable.webp
  packages/utopia/src/assets/images/3D_ChaiseBascule.webp
  packages/utopia/src/assets/images/3D_Peluche.webp
  packages/utopia/src/assets/images/3D_SapinNoel.webp
  packages/utopia/src/assets/images/3D_Valise.webp
  packages/utopia/src/assets/images/3D_sport.webp
  packages/utopia/src/assets/images/3D_ticket.webp
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.d.ts
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
  packages/utopia/src/components/organisms/BalanceCard/index.ts
  packages/utopia/src/components/organisms/BalanceCard/types.ts
  packages/utopia/src/components/organisms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: update @club-employes/utopia package version to 4.8.1
  .changeset/auto-1757338204.md
  package-lock.json
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

✨ Add BalanceCardGroup component and update BalanceCard functionality
  .changeset/auto-1757408013.md
  .changeset/auto-1757408101.md
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/pages/organisms/BalanceCardGroupPage.vue
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
  packages/utopia/src/components/organisms/BalanceCardGroup/index.ts
  packages/utopia/src/components/organisms/BalanceCardGroup/types.ts
  packages/utopia/src/components/organisms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: update @club-employes/utopia package version to 4.8.2
  .changeset/auto-1757408187.md
  package-lock.json
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

chore: update @club-employes/utopia package version to 4.8.3
  .changeset/auto-1757429982.md
  package-lock.json
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

fix: update campaign count display logic and add missing translations for singular forms
  .changeset/auto-1757492281.md
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
Due: lint-utopia

fix: update BalanceCardGroup to display remaining amount and adjust progress percentage calculation
  .changeset/auto-1757507923.md
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
Due: lint-utopia

chore: update @club-employes/utopia package version to 4.8.5 and fix BalanceCardGroup interface to use 'amount' for remaining balance
  .changeset/auto-1757509348.md
  .changeset/balance-card-group-fixes.md
  apps/utopia-website/src/generated/pages/organisms/BalanceCardGroupPage.vue
  package-lock.json
  packages/utopia/CHANGELOG.md
  packages/utopia/package-lock.json
  packages/utopia/package.json
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
  packages/utopia/src/components/organisms/BalanceCardGroup/types.ts
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: enhance BalanceCard and BalanceCardPage with tooltip for long campaign names and update card styles
  .changeset/auto-1758542554.md
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  packages/utopia/src/components/atoms/Card/Card.vue
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

fix: update theme color references from primary-600 to primary-500 across multiple components
  .changeset/auto-1758549040.md
  apps/utopia-website/src/generated/pages/layouts/AuthLayoutPage.vue
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Chip/Chip.vue
  packages/utopia/src/components/layouts/AuthLayout/AuthLayout.vue
  packages/utopia/src/components/organisms/BalanceCardGroup/BalanceCardGroup.vue
  packages/utopia/src/tokens/themes/club-employes-light.json
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: version packages for text-primary color update
  .changeset/auto-1757337075.md
  .changeset/auto-1757337179.md
  .changeset/auto-1757338204.md
  .changeset/auto-1757408013.md
  .changeset/auto-1757408101.md
  .changeset/auto-1757408187.md
  .changeset/auto-1757429982.md
  .changeset/auto-1757492281.md
  .changeset/auto-1757507923.md
  .changeset/auto-1757509348.md
  .changeset/auto-1758542554.md
  .changeset/auto-1758549040.md
  .changeset/auto-1758550773.md
  .changeset/balance-card-group-fixes.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

refactor: remove max-width constraint from BalanceCard styles for improved responsiveness
  .changeset/auto-1758551530.md
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
Due: lint-utopia

chore: bump version to 4.9.1 for text-primary color update
  .changeset/auto-1758551940.md
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

chore: update @club-employes/utopia package version to 4.9.1 and add auto-release script to package.json
  .changeset/auto-1758552531.md
  .github/actions/auto-version/action.yml
  .github/workflows/design-system-improved.yml
  package-lock.json
  package.json
  packages/utopia/src/components/atoms/Card/Card.vue
  scripts/auto-release.js
Due: lint-utopia

fix: update font size for 3xl typography token from 30px to 32px for improved design consistency
  .changeset/auto-1758553923.md
  packages/utopia/src/tokens/core/typography.json
Due: validate-design-system

style: remove borders from Chip component variants for a cleaner design
  .changeset/auto-1758554375.md
  packages/utopia/src/components/atoms/Chip/Chip.vue
Due: lint-utopia

fix: adjust padding and margin in Button component for better alignment and spacing consistency
  .changeset/remove-chip-borders-and-update-font-size.md
Due: none

feat: Remove chip borders and update font-size-3xl token
  .changeset/auto-1758554887.md
  package-lock.json
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

Path conditions:
  lint-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  format-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  type-check-website: any of: ^apps/utopia-website/.*\.(ts|vue)$
  validate-design-system: any of: ^(apps/utopia-website/.*|packages/utopia/src/tokens/.*)$
  lint-utopia: any of: ^packages/utopia/.*\.(js|ts|vue)$
