Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

lint-website:
  name: üîç Lint Website
  entry: bash -c 'cd apps/utopia-website && npm run lint:check'
  language: system
  pass_filenames: false

format-website:
  name: ‚ú® Format Website
  entry: bash -c 'cd apps/utopia-website && npm run format'
  language: system
  pass_filenames: false

type-check-website:
  name: üîç Type Check Website
  entry: bash -c 'cd apps/utopia-website && npm run type-check'
  language: system
  pass_filenames: false

validate-design-system:
  name: üé® Validate Design System Tokens
  entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
  language: system
  pass_filenames: false

lint-utopia:
  name: üîç Lint Utopia Package
  entry: bash -c 'cd packages/utopia && npm run lint'
  language: system
  pass_filenames: false

fix: add dependency for design system validation
  turbo.json
Due: none

refactor: update theme color variables across components
  apps/storybook/.storybook/preview.css
  apps/storybook/README.md
  apps/storybook/src/stories/ThemeTest.stories.ts
  apps/storybook/src/stories/Tokens.stories.ts
  apps/utopia-website/.eslintrc-utopia.js
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/components/layouts/PageLayout.vue
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  apps/utopia-website/src/domains/design-system/pages/LogosPage.vue
  apps/utopia-website/src/domains/design-system/pages/PresentationPage.vue
  apps/utopia-website/src/domains/design-system/pages/SpacingPage.vue
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/domains/shared/router/NotFoundPage.vue
  apps/utopia-website/src/generated/pages/layouts/DefaultLayoutPage.vue
  apps/utopia-website/src/pages/HomePage.vue
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Checkbox/Checkbox.vue
  packages/utopia/src/components/atoms/Logo/Logo.vue
  packages/utopia/src/components/atoms/Logo/README.md
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/Header.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/Menu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MenuSection.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MobileMenu.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/MobileMenuButton.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/NavItem.vue
  packages/utopia/src/style.css
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

refactor: enhance reactivity in DefaultLayout component
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-utopia

fix: add specific fallback icon for Package in Icon component
  packages/utopia/src/components/atoms/Icon/Icon.vue
Due: lint-utopia

refactor: update Package icon SVG and remove specific fallback in Icon component
  packages/utopia/src/assets/icons-processed/package.svg
  packages/utopia/src/components/atoms/Icon/Icon.vue
Due: lint-utopia

refactor: update icon references from 'Package' to 'Package-first'
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/pages/layouts/DefaultLayoutPage.vue
  packages/utopia/src/assets/icons-processed/Package-first.svg
  packages/utopia/src/tokens/core/icons.json
Due: lint-website, format-website, type-check-website, validate-design-system

refactor: simplify active menu item logic in DefaultLayout component
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-utopia

fix: correct homepage greeting text for clarity
  apps/utopia-website/src/pages/HomePage.vue
Due: lint-website, format-website, type-check-website, validate-design-system

refactor: streamline Vite configuration for design system sources
  apps/utopia-website/src/pages/HomePage.vue
  apps/utopia-website/vite.config.ts
Due: lint-website, format-website, type-check-website, validate-design-system

debug: add console logs for current path and menu item in DefaultLayout component
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-utopia

fix: update homepage greeting text for accuracy
  apps/utopia-website/src/pages/HomePage.vue
Due: lint-website, format-website, type-check-website, validate-design-system

refactor: restructure HomePage and update routing configuration
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/domains/design-system/pages/HomePage.vue
  apps/utopia-website/src/domains/design-system/pages/index.ts
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/pages/HomePage.vue
Due: lint-website, format-website, type-check-website, validate-design-system

feat: update typography tokens to use Figtree font and improve IconsPage UX
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  apps/utopia-website/src/domains/design-system/pages/TypographyPage.vue
  apps/utopia-website/src/pages/HomePage.vue
  packages/utopia/src/tokens/core/typography.json
Due: lint-website, format-website, type-check-website, validate-design-system

docs: update changeset with typography and IconsPage improvements
  .changeset/kind-women-cheer.md
Due: none

feat: add Switch component and update routing and menu configuration
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/SwitchPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/Switch/Switch.vue
  packages/utopia/src/components/atoms/Switch/index.ts
  packages/utopia/src/components/atoms/Switch/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: enhance Button component with new variants, sizes, and documentation updates
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
  apps/utopia-website/src/domains/design-system/pages/IconsPage.vue
  apps/utopia-website/src/domains/design-system/pages/LogosPage.vue
  apps/utopia-website/src/domains/design-system/pages/PresentationPage.vue
  apps/utopia-website/src/domains/design-system/pages/SpacingPage.vue
  apps/utopia-website/src/domains/design-system/pages/TypographyPage.vue
  apps/utopia-website/src/domains/shared/router/NotFoundPage.vue
  apps/utopia-website/src/domains/showcase/pages/ShowcasePage.vue
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/ButtonPage.vue
  apps/utopia-website/src/generated/pages/layouts/DefaultLayoutPage.vue
  apps/utopia-website/src/pages/HomePage.vue
  apps/utopia-website/src/views/DemoView.vue
  apps/utopia-website/src/views/HomeView.vue
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Button/index.ts
  packages/utopia/src/components/atoms/Button/types.ts
  packages/utopia/src/components/atoms/Switch/Switch.vue
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

fix: correct import statement syntax in HomeView.vue
  apps/utopia-website/src/views/HomeView.vue
Due: lint-website, format-website, type-check-website, validate-design-system

chore: update dependencies and enhance Button component styles
  .github/actions/auto-changeset/action.yml
  apps/storybook/src/style.css
  package-lock.json
  package.json
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/style.css
  scripts/auto-changeset.js
Due: lint-utopia

fix: update pre-commit hook and auto-changeset script
  .changeset/auto-1755598171396.md
  .husky/pre-commit
  package.json
  scripts/auto-changeset.js
Due: none

feat: enhance pre-commit hook and auto-changeset script for better file detection
  .husky/pre-commit
  scripts/auto-changeset.js
Due: none

📚 Documentation: Revamp README files for clarity and structure
  README.md
  apps/storybook/README.md
  apps/utopia-website/README.md
  docs/README.md
  packages/utopia/README.md
Due: validate-design-system

🎨 Update Utopia package.json and README for enhanced clarity and features
  packages/utopia/README.md
  packages/utopia/package.json
Due: none

🎨 Enhance text selection and loading button states
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/domains/design-system/pages/ColorsPage.vue
  apps/utopia-website/src/generated/pages/atoms/ButtonPage.vue
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Switch/Switch.vue
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/style.css
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Integrate Vercel Speed Insights and add InputText component
  apps/utopia-website/package.json
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/components/layouts/ComponentLayout.vue
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/InputTextPage.vue
  apps/utopia-website/src/generated/routes.ts
  apps/utopia-website/src/main.ts
  package-lock.json
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/atoms/InputText/index.ts
  packages/utopia/src/components/atoms/InputText/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/style.css
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🗑️ Remove Badge, Card, Input, and InputSelect components
  packages/utopia/src/components/atoms/Badge/Badge.vue
  packages/utopia/src/components/atoms/Badge/index.ts
  packages/utopia/src/components/atoms/Card/Card.vue
  packages/utopia/src/components/atoms/Card/index.ts
  packages/utopia/src/components/atoms/Input/Input.stories.ts
  packages/utopia/src/components/atoms/Input/Input.vue
  packages/utopia/src/components/atoms/Input/index.ts
  packages/utopia/src/components/atoms/Input/types.ts
  packages/utopia/src/components/atoms/InputSelect/InputSelect.stories.ts
  packages/utopia/src/components/atoms/InputSelect/InputSelect.vue
  packages/utopia/src/components/atoms/InputSelect/index.ts
  packages/utopia/src/components/atoms/InputSelect/types.ts
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-utopia

✨ Update component exports in Utopia design system
  packages/utopia/src/components/atoms/index.ts
Due: lint-utopia

✨ Add Card component and update related configurations
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/CardPage.vue
  apps/utopia-website/src/generated/pages/atoms/CheckboxPage.vue
  apps/utopia-website/src/generated/pages/atoms/InputTextPage.vue
  apps/utopia-website/src/generated/routes.ts
  apps/utopia-website/src/pages/HomePage.vue
  apps/utopia-website/tsconfig.app.json
  packages/utopia/src/components/atoms/Button/Button.vue
  packages/utopia/src/components/atoms/Card/Card.vue
  packages/utopia/src/components/atoms/Card/index.ts
  packages/utopia/src/components/atoms/Card/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/style.css
  packages/utopia/tsconfig.app.json
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Add Chip component and update related configurations
  apps/utopia-website/scripts/create-component.js
  apps/utopia-website/scripts/generate-complete-structure.js
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/ChipPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/Chip/Chip.vue
  packages/utopia/src/components/atoms/Chip/index.ts
  packages/utopia/src/components/atoms/Chip/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: add Chip component with actionable prop and improved styling
  .changeset/auto-1755775518575.md
  packages/utopia/src/components/atoms/index.ts
Due: lint-utopia

✨ Add DropDown component and update related configurations
  .pre-commit-config.yaml
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/ButtonPage.vue
  apps/utopia-website/src/generated/pages/atoms/DropDownPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/DropDown/DropDown.vue
  packages/utopia/src/components/atoms/DropDown/index.ts
  packages/utopia/src/components/atoms/DropDown/types.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/tokens/brands/club-employes/colors.json
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Refactor DropDown component to Molecules
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/molecules/DropDownPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/index.ts
  packages/utopia/src/components/molecules/DropDown/DropDown.vue
  packages/utopia/src/components/molecules/DropDown/index.ts
  packages/utopia/src/components/molecules/DropDown/types.ts
  packages/utopia/src/components/molecules/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Add InputCode component and update related configurations
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/atoms/ChipPage.vue
  apps/utopia-website/src/generated/pages/atoms/InputTextPage.vue
  apps/utopia-website/src/generated/pages/molecules/InputCodePage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
  packages/utopia/src/components/molecules/InputCode/index.ts
  packages/utopia/src/components/molecules/InputCode/types.ts
  packages/utopia/src/components/molecules/index.ts
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Enhance AppLayout and DefaultLayout components
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  packages/utopia/package.json
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/vite.config.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🔗 Update GitHub link in DefaultLayout component
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
Due: lint-utopia

chore: update changeset to include all branch changes
  .changeset/auto-1755775518575.md
Due: none

feat: improve auto-changeset script to update existing changesets
  .changeset/auto-1755775518575.md
  scripts/auto-changeset.js
Due: none

🔧 Clean up InputCode component by removing commented code
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

✨ Implement dynamic layout handling and add new design system components
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/config/menu.json
  apps/utopia-website/src/domains/design-system/pages/AuthLayoutPage.vue
  apps/utopia-website/src/domains/design-system/pages/index.ts
  apps/utopia-website/src/domains/shared/router/index.ts
  apps/utopia-website/src/generated/component-icons.json
  apps/utopia-website/src/generated/pages/layouts/AuthLayoutPage.vue
  apps/utopia-website/src/generated/pages/molecules/SliderPage.vue
  apps/utopia-website/src/generated/routes.ts
  packages/utopia/src/components/layouts/AuthLayout/AuthLayout.vue
  packages/utopia/src/components/layouts/AuthLayout/AuthLayoutExample.vue
  packages/utopia/src/components/layouts/AuthLayout/index.ts
  packages/utopia/src/components/layouts/AuthLayout/types.ts
  packages/utopia/src/components/layouts/index.ts
  packages/utopia/src/components/molecules/Slider/Slider.vue
  packages/utopia/src/components/molecules/Slider/SliderProps.ts
  packages/utopia/src/components/molecules/Slider/index.ts
  packages/utopia/src/components/molecules/index.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

✨ Refactor Slider component usage and update layout handling
  apps/utopia-website/src/App.vue
  apps/utopia-website/src/generated/pages/molecules/SliderPage.vue
  packages/utopia/src/components/layouts/AuthLayout/AuthLayout.vue
  packages/utopia/src/index.d.ts
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🔧 Fix typo in InputCode component comment
  .changeset/bright-spies-run.md
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

Path conditions:
  lint-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  format-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  type-check-website: any of: ^apps/utopia-website/.*\.(ts|vue)$
  validate-design-system: any of: ^(apps/utopia-website/.*|packages/utopia/src/tokens/.*)$
  lint-utopia: any of: ^packages/utopia/.*\.(js|ts|vue)$
