Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

lint-website:
  name: üîç Lint Website
  entry: bash -c 'cd apps/utopia-website && npm run lint:check'
  language: system
  pass_filenames: false

format-website:
  name: ‚ú® Format Website
  entry: bash -c 'cd apps/utopia-website && npm run format'
  language: system
  pass_filenames: false

type-check-website:
  name: üîç Type Check Website
  entry: bash -c 'cd apps/utopia-website && npm run type-check'
  language: system
  pass_filenames: false

validate-design-system:
  name: üé® Validate Design System Tokens
  entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
  language: system
  pass_filenames: false

lint-utopia:
  name: üîç Lint Utopia Package
  entry: bash -c 'cd packages/utopia && npm run lint'
  language: system
  pass_filenames: false

refactor(InputText): rename container class and add inheritAttrs option
  .changeset/auto-1759409485.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

🎨 Design System: Update from `fix/workflow-changeset-trigger` (#128)
  .changeset/auto-1759409485.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

chore: version packages to 4.19.0
  .changeset/auto-1759409485.md
  .changeset/auto-1759409653.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.19.0 (#129)
  .changeset/auto-1759409485.md
  .changeset/auto-1759409653.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat(InputText, InputCode): add keydown and paste event handling
  .changeset/auto-1759419226.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

🎨 Design System: Update from `fix/workflow-changeset-trigger` (#130)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

chore: version packages to 4.20.0
  .changeset/auto-1759409653.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759419415.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.20.0 (#131)
  .changeset/auto-1759409653.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759419415.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat(BalanceCard): enhance expiration date display with customizable label
  .changeset/auto-1759481130.md
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
Due: lint-utopia

🎨 Design System: Update from `fix/workflow-changeset-trigger` (#132)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  packages/utopia/src/components/organisms/BalanceCard/BalanceCard.vue
Due: lint-utopia

chore: version packages to 4.21.0
  .changeset/auto-1759419226.md
  .changeset/auto-1759419415.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759481301.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.21.0 (#133)
  .changeset/auto-1759419226.md
  .changeset/auto-1759419415.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759481301.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat(InputText): add clickable icons and customizable positions
  .changeset/auto-1759482875.md
  apps/storybook/src/stories/InputText.stories.ts
  apps/utopia-website/src/generated/pages/atoms/InputTextPage.vue
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🎨 Design System: Update from `fix/workflow-changeset-trigger` (#134)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  apps/storybook/src/stories/InputText.stories.ts
  apps/utopia-website/src/generated/pages/atoms/InputTextPage.vue
  apps/utopia-website/src/generated/pages/organisms/BalanceCardPage.vue
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: version packages to 4.22.0
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1759483303.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.22.0 (#135)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1759483303.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

fix(main): specify return type for bootstrap function
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/main.ts
  packages/utopia/EXAMPLE_INTEGRATION.md
  packages/utopia/README.md
  packages/utopia/THEME_INITIALIZATION.md
  packages/utopia/src/composables/index.ts
  packages/utopia/src/composables/initializeTheme.ts
  packages/utopia/src/composables/useTheme.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
  packages/utopia/src/theme-provider/ThemeProvider.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

🎨 Design System: Update from `fix/workflow-changeset-trigger` (#136)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  apps/utopia-website/src/domains/shared/components/AppLayout.vue
  apps/utopia-website/src/main.ts
  packages/utopia/EXAMPLE_INTEGRATION.md
  packages/utopia/README.md
  packages/utopia/THEME_INITIALIZATION.md
  packages/utopia/src/composables/index.ts
  packages/utopia/src/composables/initializeTheme.ts
  packages/utopia/src/composables/useTheme.ts
  packages/utopia/src/index.d.ts
  packages/utopia/src/index.ts
  packages/utopia/src/theme-provider/ThemeProvider.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: version packages to 4.23.0
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  .changeset/auto-1760100108.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.23.0 (#137)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  .changeset/auto-1760100108.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat(workflow): enhance NPM publishing process with new job and improved steps
  .github/workflows/design-system-improved.yml
Due: none

🌐 Website: Update from `fix/workflow-changeset-trigger` (#138)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  .github/workflows/design-system-improved.yml
Due: none

chore: version packages to 4.24.0
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  .changeset/auto-1760102919.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.24.0 (#139)
  .changeset/auto-1759409485.md
  .changeset/auto-1759419226.md
  .changeset/auto-1759481130.md
  .changeset/auto-1759482875.md
  .changeset/auto-1759483165.md
  .changeset/auto-1760099211.md
  .changeset/auto-1760099271.md
  .changeset/auto-1760099350.md
  .changeset/auto-1760099381.md
  .changeset/auto-1760102919.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

Path conditions:
  lint-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  format-website: any of: ^apps/utopia-website/.*\.(js|ts|vue)$
  type-check-website: any of: ^apps/utopia-website/.*\.(ts|vue)$
  validate-design-system: any of: ^(apps/utopia-website/.*|packages/utopia/src/tokens/.*)$
  lint-utopia: any of: ^packages/utopia/.*\.(js|ts|vue)$
