Repository bj-front/DS: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']

  - repo: local
    hooks:
      - id: lint-website
        name: üîç Lint Website
        entry: bash -c 'cd apps/utopia-website && npm run lint:check'
        language: system
        files: ^apps/utopia-website/.*\.(js|ts|vue)$
        pass_filenames: false

      - id: format-website
        name: ‚ú® Format Website
        entry: bash -c 'cd apps/utopia-website && npm run format'
        language: system
        files: ^apps/utopia-website/.*\.(js|ts|vue)$
        pass_filenames: false

      - id: type-check-website
        name: üîç Type Check Website
        entry: bash -c 'cd apps/utopia-website && npm run type-check'
        language: system
        files: ^apps/utopia-website/.*\.(ts|vue)$
        pass_filenames: false

      - id: validate-design-system
        name: üé® Validate Design System Tokens
        entry: bash -c 'cd apps/utopia-website && npm run validate:design-system'
        language: system
        files: ^(apps/utopia-website/.*|packages/utopia/src/tokens/.*)$
        pass_filenames: false

      - id: lint-utopia
        name: üîç Lint Utopia Package
        entry: bash -c 'cd packages/utopia && npm run lint'
        language: system
        files: ^packages/utopia/.*\.(js|ts|vue)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^apps/utopia-website/.*\.(js|ts|vue|json|md)$
        args: [--config, apps/utopia-website/.prettierrc]

style: restore borders to Chip component variants for improved visual definition
  .changeset/auto-1758557648.md
  packages/utopia/src/components/atoms/Chip/Chip.vue
Due: lint-utopia

chore: update @club-employes/utopia package version to 4.9.3
  .changeset/auto-1758551530.md
  .changeset/auto-1758551940.md
  .changeset/auto-1758552531.md
  .changeset/auto-1758553923.md
  .changeset/auto-1758554375.md
  .changeset/auto-1758554887.md
  .changeset/auto-1758557648.md
  .changeset/auto-1758558317.md
  .changeset/remove-chip-borders-and-update-font-size.md
  package-lock.json
  packages/utopia/package-lock.json
  packages/utopia/package.json
Due: none

feat: enhance mobile user experience by fixing scroll behavior in DefaultLayout
  .changeset/auto-1758558317.md
  .changeset/auto-1759226925.md
  apps/storybook/package.json
  apps/storybook/src/style.css
  apps/storybook/vite.config.ts
  apps/utopia-website/src/App.vue
  apps/utopia-website/vite.config.ts
  packages/utopia/src/components/layouts/AuthLayout/AuthLayout.vue
  packages/utopia/src/components/layouts/DefaultLayout/DefaultLayout.vue
  packages/utopia/src/components/layouts/DefaultLayout/components/Header.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: update @club-employes/utopia package version to 4.10.0 and enhance mobile UX with scroll behavior fixes
  .changeset/auto-1758558317.md
  .changeset/auto-1759227095.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat: enhance InputText component with computed type and inputmode for better handling of numeric inputs
  .changeset/auto-1759327007.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

chore: enhance GitHub Actions workflow for automated versioning and PR creation
  .changeset/auto-1759327800.md
  .github/workflows/design-system-improved.yml
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

chore: version packages to 4.11.0
  .changeset/auto-1757059794.md
  .changeset/auto-1759327007.md
  .changeset/auto-1759327800.md
  .changeset/auto-1759328084.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.12.0
  .changeset/auto-1759328204.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.12.0 (#113)
  .changeset/auto-1759328204.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

fix: refine InputText and InputCode components for improved numeric input handling
  .changeset/auto-1759329918.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

refactor: remove maxlength attribute from InputText component for improved numeric input handling
  .changeset/auto-1759334663.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

🎨 Design System: Update from `feat/update_token` (#114)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

chore: version packages to 4.13.0
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759334829.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.13.0 (#115)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759334829.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat: add inputmode prop to InputText and InputCode components for enhanced input handling
  .changeset/auto-1759335433.md
  .github/workflows/design-system.yml
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

fix: correct inputmode binding in InputText component for accurate input handling
  .changeset/auto-1759390363.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

refactor: remove computed inputmode logic from InputText component for simplification
  .changeset/auto-1759390609.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

🎨 Design System: Update from `feat/update_token` (#116)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .github/workflows/design-system.yml
  packages/utopia/src/components/atoms/InputText/InputText.vue
  packages/utopia/src/components/molecules/InputCode/InputCode.vue
Due: lint-utopia

chore: version packages to 4.14.0
  .changeset/auto-1759334663.md
  .changeset/auto-1759334829.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759390946.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.14.0 (#117)
  .changeset/auto-1759334663.md
  .changeset/auto-1759334829.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759390946.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat: add autocomplete prop to InputText component for improved user input experience
  .changeset/auto-1759391142.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

🎨 Design System: Update from `feat/update_token` (#118)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

chore: version packages to 4.15.0
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  .changeset/auto-1759391309.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.15.0 (#119)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  .changeset/auto-1759391309.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat(utopia): add inputmode prop support to InputCode and InputText
  .changeset/inputmode-support-1759391666.md
Due: none

🎨 Design System: Update from `feat/update_token` (#120)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  .changeset/inputmode-support-1759391666.md
Due: none

refactor: remove unused autocomplete prop from InputText component
  .changeset/auto-1759392076.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

refactor: remove unused autocomplete prop from InputText component (#121)
  .changeset/auto-1759392076.md
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-utopia

chore: version packages to 4.16.0
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  .changeset/auto-1759392076.md
  .changeset/auto-1759392718.md
  .changeset/inputmode-support-1759391666.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.16.0 (#122)
  .changeset/auto-1759329918.md
  .changeset/auto-1759334663.md
  .changeset/auto-1759335433.md
  .changeset/auto-1759390363.md
  .changeset/auto-1759390609.md
  .changeset/auto-1759391142.md
  .changeset/auto-1759392076.md
  .changeset/auto-1759392718.md
  .changeset/inputmode-support-1759391666.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

feat: enhance InputCode and InputText components with inputmode support
  .changeset/auto-1759394420.md
  apps/utopia-website/src/generated/pages/molecules/InputCodePage.vue
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

feat: enhance InputCode and InputText components with inputmode support (#123)
  .changeset/auto-1759394420.md
  apps/utopia-website/src/generated/pages/molecules/InputCodePage.vue
  packages/utopia/src/components/atoms/InputText/InputText.vue
Due: lint-website, format-website, type-check-website, validate-design-system, lint-utopia

chore: version packages to 4.17.0
  .changeset/auto-1759394420.md
  .changeset/auto-1759394790.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.17.0 (#124)
  .changeset/auto-1759394420.md
  .changeset/auto-1759394790.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

fix(utopia): add missing computedInputMode in InputText
  .changeset/fix-inputmode-1759395241.md
Due: none

🎨 Design System: Update from `bj/inputcode` (#125)
  .changeset/auto-1759394420.md
  .changeset/fix-inputmode-1759395241.md
Due: none

fix: add .changeset/** to workflow paths to trigger on changeset additions
  .github/workflows/design-system-improved.yml
Due: none

fix: add .changeset/** to workflow paths to trigger on changeset additions (#126)
  .github/workflows/design-system-improved.yml
Due: none

chore: version packages to 4.18.0
  .changeset/auto-1759394790.md
  .changeset/auto-1759396556.md
  .changeset/fix-inputmode-1759395241.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none

chore: version packages to 4.18.0 (#127)
  .changeset/auto-1759394790.md
  .changeset/auto-1759396556.md
  .changeset/fix-inputmode-1759395241.md
  packages/utopia/CHANGELOG.md
  packages/utopia/package.json
Due: none
